.highlight-01 {background:purple;
}
p, a, ol, h1 {color: blueviolet;
    padding: 40;
    margin-right: 100;
    background: pink;}
em, strong, li {background:pink}
#phone {width:400}
body {background: url(https://tse1.mm.bing.net/th/id/OIP.jVVhtYvMYOlNH1MtYTc2UAHaE8?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3)}
