body {background-image: url("../images/photography-project.png");
        background-size: 2000px;
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: scroll;
        }
#saffron {width: 400px}
#indigo {
    width: 600px;
    height: 450px;
    padding-top: 150px;}
#foraging {
    display: flex;
    flex-direction: row;
    gap: 300px;
}
p {
    padding: 5px;
    background: rgb(227, 240, 255);
    font: 18px Constantia;
    color: darkblue;}   