#creature-form {
    background: #c3c3c3;
    padding: 20px;
    margin: 50px;
}

#creature-list {
    background: rgb(89, 255, 180);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
}